<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguan.ballvideo.mapper.FirstVideosMapper">


	<sql id="Base_Column_List" >
		sv.id, sv.cat_id, sv.title, sv.url, sv.url_audio, sv.url_img, sv.local_url, sv.local_audio_url, sv.local_img_url,
		sv.bsy_url, sv.bsy_audio_url, sv.bsy_img_url, sv.collection_count, sv.love_count, sv.comment_count,
		sv.watch_count, sv.created_at, sv.updated_at, sv.state, sv.video_time,sv.url_headimg,sv.bsy_head_url,sv.video_author
	</sql>

	<sql id="Base_Column_List_FistVideo" >
		fv.id, fv.cat_id, fv.title, fv.url, fv.url_audio, fv.url_img, fv.local_url, fv.local_audio_url, fv.local_img_url,
		fv.bsy_url, fv.bsy_audio_url, fv.bsy_img_url, fv.collection_count, fv.love_count, fv.comment_count,
		fv.watch_count, fv.created_at, fv.updated_at, fv.state, fv.video_time,fv.url_headimg,fv.bsy_head_url,fv.video_author
	</sql>

	<!-- 通过条件查询首页视频列表(无用户ID) -->
	<select id="findFirstVideosList" resultType="com.miguan.ballvideo.vo.FirstVideos" parameterType="java.util.HashMap">
		SELECT
		v.id, v.cat_id, v.title, v.url, v.url_audio, v.url_img, v.local_url, v.local_audio_url, v.local_img_url,v.bsy_url, v.bsy_audio_url, v.bsy_img_url,IFNULL(g.id, 0) AS gatherId,
		v.collection_count,(v.love_count + v.love_count_real) as love_count,v.comment_count,v.base_weight,(v.watch_count + v.watch_count_real) as watch_count,v.created_at,v.updated_at,
		v.state,v.bsy_head_url,v.video_author,v.video_time,'0' collection,'0' love,v.video_size as videoSize
		FROM first_videos v
		left join video_gather g on g.id = v.gather_id and g.state = 1
		<trim prefix="where" prefixOverrides="and|or">
			v.bsy_url!='' and v.bsy_img_url!=''
			<if test="catId != null">
				AND v.cat_id = #{catId}
			</if>
			<if test="otherCatIds != null">
				AND v.cat_id NOT in
				<foreach collection="otherCatIds" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="state != null">
				AND v.state = #{state}
			</if>
			<if test="gatherId != null">
				AND v.gather_Id = #{gatherId}
			</if>
			<if test="id != null">
				AND v.id = #{id}
			</if>
			<if test="excludeId != null">
				AND v.id != #{excludeId}
			</if>
			<if test="gatherIds != null">
				AND v.gather_id not in  (${gatherIds})
			</if>
			<choose>
				<when test="queryNumber != null">
					ORDER BY RAND() limit ${queryNumber}
				</when>
				<otherwise>
					<if test="videoType == '10'">
						ORDER BY v.base_weight DESC
					</if>
					<if test="videoType == '20'">
						ORDER BY v.created_at DESC
					</if>
				</otherwise>
			</choose>
		</trim>
	</select>

	<!-- 通过条件查询首页视频列表(有用户ID) -->
	<select id="findFirstVideosListByUserId" resultType="com.miguan.ballvideo.vo.FirstVideos"
			parameterType="java.util.HashMap">
		SELECT
		v.id, v.cat_id, v.title, v.url, v.url_audio, v.url_img, v.local_url, v.local_audio_url, v.local_img_url,v.bsy_url, v.bsy_audio_url, v.bsy_img_url,
		v.collection_count,(v.love_count + v.love_count_real) as love_count,v.base_weight,v.comment_count,(v.watch_count + v.watch_count_real) as watch_count,
		v.created_at,v.updated_at,v.video_size as videoSize,IFNULL(g.id, 0) AS gatherId,
		v.state,v.bsy_head_url,v.video_author,v.video_time
		,(case when cv.collection='1' then '1' else '0' end)  collection,
		(case when cv.love='1' then '1' else '0' end)  love
		FROM first_videos v
		left join video_gather g on g.id = v.gather_id and g.state = 1
		LEFT JOIN cl_user_videos cv on v.id = cv.video_id and cv.video_type = 10
		and cv.user_id = #{userId}
		<trim prefix="where" prefixOverrides="and|or">
			v.bsy_url!='' and v.bsy_img_url!=''
			<if test="userId != null">
				AND  (cv.interest != '1' OR cv.interest is NULL)
			</if>
			<if test="catId != null">
				AND v.cat_id = #{catId}
			</if>
			<if test="otherCatIds != null">
				AND v.cat_id NOT in
				<foreach collection="otherCatIds" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="state != null">
				AND v.state = #{state}
			</if>
			<if test="id != null">
				AND v.id = #{id}
			</if>
			<if test="excludeId != null">
				AND v.id != #{excludeId}
			</if>
			<choose>
				<when test="queryNumber != null">
					ORDER BY RAND() limit ${queryNumber}
				</when>
				<otherwise>
					<if test="videoType == '10'">
						ORDER BY v.base_weight DESC
					</if>
					<if test="videoType == '20'">
						ORDER BY v.created_at DESC
					</if>
				</otherwise>
			</choose>
		</trim>
	</select>

	<select id="getFirstVideosById" resultType="com.miguan.ballvideo.vo.FirstVideos"  parameterType="java.lang.Long">
		select share_count,play_all_count,play_count,real_weight
		from first_videos
		where id = #{id}
	</select>

	<select id="getFirstVideosByIds" resultType="com.miguan.ballvideo.vo.FirstVideos"  parameterType="java.lang.String">
		select v.id,v.share_count,v.play_all_count,v.play_count,v.real_weight,count(c.id) as collection_count
		from first_videos v
		left join cl_user_videos c on c.video_id = v.id and c.video_type = 10 and c.collection='1'
		where v.id in (${ids})
		group by v.id,v.share_count,v.play_all_count,v.play_count,v.real_weight
	</select>

	<!-- 更新首页视频收藏数、点赞数、评论数、观看数 -->
	<update id="updateFirstVideosCount" parameterType="java.util.HashMap">
		UPDATE first_videos
		<set>
			<trim suffixOverrides=",">
				<if test="opType == 10">
					collection_count = collection_count+1,
				</if>
				<if test="opType == 20">
					love_count_real = love_count_real+1,
				</if>
				<if test="opType == 30">
					watch_count_real = watch_count_real+1,
				</if>
				<if test="opType == 40">
					collection_count = (if(collection_count>1,collection_count-1,0)),
				</if>
				<if test="opType == 50">
					love_count_real = (if(love_count_real>1,love_count_real-1,0)),
				</if>
				<if test="opType == 60">
					comment_count = comment_count+1,
				</if>
				<if test="opType == 70">
					report = IFNULL(report, 0)+1,
				</if>
				<if test="opType == 80">
					share_count = share_count+1,
				</if>
				<if test="opType == 90">
					play_all_count = play_all_count+1,play_count = play_count+1,
				</if>
				<if test="opType == 100">
					play_count = play_count+1,
				</if>
				<if test="realWeight != null">
					real_weight = #{realWeight}
				</if>
			</trim>
		</set>
		WHERE id = #{id}
	</update>

	<select id="findFirstVideoListByMyCollection" resultType="com.miguan.ballvideo.vo.FirstVideos"
			parameterType="java.util.HashMap">
		SELECT aa.really_watch_count + aa.watch_count as watch_count,aa.* from (
		select IFNULL(g.id,0) as gatherId,IFNULL(vr.watch_count,0) as really_watch_count ,<include refid="Base_Column_List_FistVideo" />,cuv.collection_time as collectionTime,cuv.id as collectionId,cuv.collection,
		cuv.love,cuv.video_type as videoType,fv.video_size
		from cl_user_videos cuv
		left join first_videos fv  on fv.id = cuv.video_id
		left join videos_report vr on vr.video_id = fv.id and vr.video_type = 10
        left join video_gather g on g.id = fv.gather_id and g.state = 1
		where fv.state = 1 and cuv.user_id = #{userId} and cuv.collection = #{collection} and cuv.video_type = 10
		union
		select 0 as gatherId, IFNULL(vr.watch_count,0) as really_watch_count, <include refid="Base_Column_List" />,cuv.collection_time as collectionTime,cuv.id as collectionId,cuv.collection,
		cuv.love,cuv.video_type as videoType,sv.video_size
		from cl_user_videos cuv
		left join small_videos sv  on sv.id = cuv.video_id
		left join videos_report vr on vr.video_id = sv.id and vr.video_type = 20
		where sv.state = 1 and cuv.user_id = #{userId} and cuv.collection = #{collection} and cuv.video_type = 20) as aa
		order by aa.collectionTime DESC
	</select>

	<!-- 查询全部首页视频列表 -->
	<select id="findAllFirstVideosList" resultType="com.miguan.ballvideo.vo.FirstVideos">
		SELECT
		v.id, v.cat_id
		FROM first_videos v
		where v.bsy_url!='' and v.bsy_img_url!=''
	</select>

	<!--v1.6.1 -->
	<!-- 通过条件查询首页视频列表(无用户ID) -->
	<select id="findFirstVideosList161" resultType="com.miguan.ballvideo.vo.video.Videos161Vo"
			parameterType="java.util.HashMap">
		SELECT
		v.id,v.title,v.cat_id,v.url_img,v.bsy_url,v.bsy_img_url,v.collection_count,(v.love_count + v.love_count_real) as love_count,v.comment_count,(v.watch_count + v.watch_count_real) as watch_count,'0'
		collection,'0' love,v.bsy_head_url,v.video_author,v.video_time,v.state,v.video_size as videoSize,v.created_at,IFNULL(g.id, 0) AS gatherId,g.title as gatherTitle,v.base_weight+v.real_weight as totalWeight
		FROM first_videos v left join video_gather g on g.id = v.gather_id and g.state = 1
		<trim prefix="where" prefixOverrides="and|or">
			v.bsy_url!='' and v.bsy_img_url!=''
			<if test="catId != null">
				AND v.cat_id = #{catId}
			</if>
			<if test="otherCatIds != null">
				AND v.cat_id NOT in
				<foreach collection="otherCatIds" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="state != null">
				AND v.state = #{state}
			</if>
			<if test="id != null">
				AND v.id = #{id}
			</if>
			<if test="excludeId != null">
				AND v.id != #{excludeId}
			</if>
			<if test="gatherIds != null and  gatherIds!=''">
				AND v.gather_id not in  (${gatherIds})
			</if>
			<choose>
				<when test="queryNumber != null">
					ORDER BY RAND() limit ${queryNumber}
				</when>
				<otherwise>
					<if test="videoType == '10'">
						ORDER BY v.base_weight DESC
					</if>
					<if test="videoType == '20'">
						ORDER BY v.created_at DESC
					</if>
				</otherwise>
			</choose>
		</trim>
	</select>
	<!-- 通过条件查询首页视频列表(有用户ID) -->
	<select id="findFirstVideosListByUserId161" resultType="com.miguan.ballvideo.vo.video.Videos161Vo"
			parameterType="java.util.HashMap">
		SELECT
		v.id, v.cat_id, v.title, v.url, v.url_audio, v.url_img,
		v.bsy_url,v.bsy_img_url,
		v.collection_count,(v.love_count + v.love_count_real) as love_count,v.comment_count,(v.watch_count + v.watch_count_real) as watch_count,v.video_size as videoSize,
		v.state,v.bsy_head_url,v.video_author,v.video_time,IFNULL(g.id, 0) AS gatherId,g.title as gatherTitle,
		(case when cv.collection='1' then '1' else '0' end) collection,
		(case when cv.love='1' then '1' else '0' end) love,v.base_weight+v.real_weight as totalWeight
		FROM first_videos v LEFT JOIN cl_user_videos cv ON v.id = cv.video_id AND cv.video_type = 10 AND cv.user_id = #{userId}
		left join video_gather g ON g.id = v.gather_id AND g.state = 1
		<trim prefix="where" prefixOverrides="and|or">
			and v.state = 1 and v.bsy_img_url != '' AND v.bsy_url != ''
			<if test="userId != null">
				AND (cv.interest != '1' OR cv.interest is NULL)
			</if>
			<if test="catId != null">
				AND v.cat_id = #{catId}
			</if>
			<if test="otherCatIds != null">
				AND v.cat_id NOT in
				<foreach collection="otherCatIds" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="id != null">
				AND v.id = #{id}
			</if>
			<if test="excludeId != null">
				AND v.id != #{excludeId}
			</if>
			<if test="gatherIds != null and  gatherIds!=''">
				AND v.gather_id not in  (${gatherIds})
			</if>
			<choose>
				<when test="queryNumber != null">
					ORDER BY RAND() limit ${queryNumber}
				</when>
				<otherwise>
					<if test="videoType == '10'">
						ORDER BY v.base_weight DESC
					</if>
					<if test="videoType == '20'">
						ORDER BY v.created_at DESC
					</if>
				</otherwise>
			</choose>
		</trim>
	</select>
	<!-- 通过条件查询首页视频列表(无用户ID) -->
	<select id="findFirstVideosList18" resultType="com.miguan.ballvideo.vo.video.Videos161Vo"
			parameterType="java.util.HashMap">
		SELECT
		v.id,v.title,v.cat_id,v.url_img,v.bsy_url as bsyUrl,v.created_at as createdAt,
		v.bsy_img_url as bsyImgUrl,v.collection_count as collectionCount,(v.love_count + v.love_count_real) as loveCount,
		v.comment_count as commentCount,IFNULL(g.id, 0) AS gatherId,g.title as gatherTitle,
		(v.watch_count + v.watch_count_real) as watchCount,'0'collection,'0' love,v.bsy_head_url as bsyHeadUrl,v.video_author as videoAuthor,
		v.video_time,v.state,v.video_size as videoSize,v.base_weight+v.real_weight as totalWeight
		FROM first_videos v left join video_gather g on g.id = v.gather_id and g.state = 1
		<trim prefix="where" prefixOverrides="and|or">
			AND v.state = 1 and v.bsy_url!='' and v.bsy_img_url!=''
			<if test="catId!='' and catId != 'created3Day' ">
				AND v.cat_id = #{catId}
			</if>
			<if test="catIds != null and catIds!=''">
				AND v.cat_id in (${catIds})
			</if>
			<if test="showedIds != null and showedIds!=''">
				AND v.id NOT in (${showedIds})
			</if>
			<if test="otherCatIds != null and  otherCatIds!=''">
				AND v.cat_id NOT in (${otherCatIds})
			</if>
			<if test="gatherIds != null and  gatherIds!=''">
				AND v.gather_id not in  (${gatherIds})
			</if>
			<choose>
				<when test="queryNumber != null">
					ORDER BY RAND() limit ${num}
				</when>
				<otherwise>
					<if test="catId == 'created3Day'">
						ORDER BY v.created_at DESC
					</if>
					<if test="catId!=null and catId!='' and catId != 'created3Day'">
						ORDER BY v.base_weight+v.real_weight DESC
					</if>
					<if test="num > 0">
						limit #{num}
					</if>
				</otherwise>
			</choose>
		</trim>
	</select>
	<!-- 通过条件查询首页视频列表(有用户ID) -->
	<select id="findFirstVideosListByUserId18" resultType="com.miguan.ballvideo.vo.video.Videos161Vo"
			parameterType="java.util.HashMap">
		SELECT
		v.id, v.cat_id, v.title, v.url, v.url_audio, v.url_img,v.bsy_url as bsyUrl,v.bsy_img_url as bsyImgUrl,
		v.collection_count as collectionCount,(v.love_count + v.love_count_real) as loveCount,v.comment_count as commentCount,(v.watch_count + v.watch_count_real) as
		watchCount,v.video_size as videoSize,v.created_at as createdAt,IFNULL(g.id, 0) AS gatherId,g.title AS gatherTitle,
		v.state,v.bsy_head_url as bsyHeadUrl,v.video_author as videoAuthor,v.video_time,
		(case when cv.collection='1' then '1' else '0' end) collection,v.base_weight+v.real_weight as totalWeight,
		(case when cv.love='1' then '1' else '0' end) love
		FROM first_videos v LEFT JOIN cl_user_videos cv on v.id = cv.video_id and cv.video_type = 10 and cv.user_id = #{userId}
		LEFT join video_gather g ON g.id = v.gather_id AND g.state = 1
		<trim prefix="where" prefixOverrides="and|or">
			and v.state = 1 and v.bsy_img_url != '' AND v.bsy_url != '' AND (cv.interest != '1' OR cv.interest is NULL)
			<if test="catId != 'created3Day' and catId!=''">
				AND v.cat_id = #{catId}
			</if>
			<if test="catIds != null and catIds!=''">
				AND v.cat_id in (${catIds})
			</if>
			<if test="showedIds != null and showedIds!=''">
				AND v.id NOT in (${showedIds})
			</if>
			<if test="otherCatIds != null and  otherCatIds!=''">
				AND v.cat_id NOT in (${otherCatIds})
			</if>
			<if test="gatherIds != null and  gatherIds!=''">
				AND v.gather_id not in  (${gatherIds})
			</if>
			<choose>
				<when test="queryNumber != null">
					ORDER BY RAND() limit ${num}
				</when>
				<otherwise>
					<if test="catId == 'created3Day'">
						ORDER BY v.created_at DESC
					</if>
					<if test="catId!=null and catId!='' and catId != 'created3Day'">
						ORDER BY v.base_weight+v.real_weight DESC
					</if>
					<if test="num > 0">
						limit #{num}
					</if>
				</otherwise>
			</choose>
		</trim>
	</select>

	<!-- 更新视频合集Id -->
	<update id="updateFirstVideosGatherId" parameterType="java.lang.Long">
		UPDATE first_videos set gather_id = 0 WHERE gather_id = #{gatherId}
	</update>

	<select id="calculateByIds" resultType="com.miguan.ballvideo.vo.video.RealWeightCalculateVo"  parameterType="java.lang.String">
		select v.id,v.real_weight as realWeightDb,FLOOR(count(c.id) * 3 + (sqrt(v.play_all_count) + sqrt(v.play_count)) / 2 + v.share_count * 3 ) as realWeightCalculate
		from first_videos v
		left join cl_user_videos c on c.video_id = v.id and c.video_type = 10 and c.collection='1'
		where v.id in (${ids})
		group by v.id,v.share_count,v.play_all_count,v.play_count,v.real_weight
	</select>

	<update id="updateFirstVideosRealWeight" parameterType="String" >
		${sql}
	</update>

	<!-- 根据权重查询视频数据-->
	<select id="findBsyUrlList"  resultType="com.miguan.ballvideo.vo.video.Videos161Vo">
		SELECT v.id,v.bsy_url as bsyUrl FROM first_videos v where v.state = 1 and v.bsy_img_url != '' AND v.bsy_url != ''
		ORDER BY v.base_weight+v.real_weight DESC
		<if test="queryNum > 0">
			limit #{queryNum}
		</if>
	</select>
</mapper>