<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguan.ballvideo.mapper.SmsConfigMapper">
    <!-- 查询出短信可以用的第三方列表 -->
    <select id="queryEnableSmsConfig" parameterType="java.util.HashMap" resultType="com.miguan.ballvideo.vo.SmsConfigVo">
        SELECT
            c.id,
            c.sms_code smsCode,
            c.sms_name smsName,
            c.sms_service_name smsServiceName,
            c.apikey,
            c.secretkey,
            c.interface_url interfaceUrl,
            c.report_url reportUrl,
            c.channel_no channelNo,
            c.interface_name interfaceName,
            c.countdown_time countdownTime,
            c.time_limit timeLimit,
            c.account,
            c.password,
            c.token,
            c.status,
            c.remark,
            c.create_time createTime,
            t.tpl
        FROM cl_sms_config c, cl_sms_tpl t
        WHERE c.id = t.sms_config_id
        AND c.status = 0
        AND t.state = '10'
        <if test="type !=null and type !=''">
          AND t.type = #{type}
        </if>
    </select>
</mapper>
